

<html>
  <style>
table, th, td {
    border: 1px solid black; 
  }
</style>
 <body>
  <form method="POST" action="/cadastro">
   <table>
      <tr>
      Nome: <input type="text" name="nome" id="nome"    /> 
      </tr>
      <tr>
      Endereço: <input type="text" name="endereco" id="endereco"    /> 
      </tr>
        <tr>
      Email: <input type="text" name="email" id="email"    /> 
      </tr>
      <tr>
      Data Nascimento: <input type="date" name="data_nascimento" id="data_nascimento"  /> 
      <input type="submit" value="Gravar">
      </tr>
    </table>
   </form>
 </body>
</html>