

<html>
  <style>
table, th, td {
    border: 1px solid black; 
  }
</style>
 <body>
   <table>
   <th>ID</th>
   <th>Nome</th>
   <th>Endereço</th>
   <th>Data Nascimento</th>
   <% for(i in dados){%>
      <tr>
       <td>
        <%=dados[i].id%> 
       </td>
       <td>
        <%=dados[i].nome%> 
       </td>
       <td>
        <%=dados[i].endereco%> 
       </td>
       <td>
        <%=dados[i].data_nascimento%> 
       </td>
      </tr>
      <%}%>
    </table>
   
 </body>
</html>