<html>
  <style>
table, th, td {
    border: 1px solid black; 
  }
</style>
 <body>
  <h1>Criar Nova Postagem</h1> 
  <form method="POST" action="/NovaPostagem">
   <table>
      <tr>
      titulo: <input type="text" name="titulo" id="titulo"    /> 
      </tr>
      <tr>
      Conteúdo: <input type="text" name="conteudo" id="conteudo"  /> 
      </tr>
       <tr>
      <input type="submit" value="Postar">
      </tr>
    </table>
   </form>
 </body>
</html>
